
<div class="container well margin-top-20 small-container">
	<form method="POST" action="/edit/{{wine.id}}?_method=put">
		<div>
			<a href="/"><< Go Back</a>
		</div>
		<div class="bold margin-top-20">
			Name
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[name]" value="{{wine.name}}" />
		</div>
		<div class="bold margin-top-20">
			Year
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[year]" value="{{wine.year}}" />
		</div>
		<div class="bold margin-top-20">
			Grapes
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[grapes]" value="{{wine.grapes}}" />
		</div>
		<div class="bold margin-top-20">
			Country
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[country]" value="{{wine.country}}" />
		</div>
		<div class="bold margin-top-20">
			Region
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[region]" value="{{wine.region}}" />
		</div>
		<div class="bold margin-top-20">
			Price
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[price]" value="{{wine.price}}" />
		</div>
		<div class="bold margin-top-20">
			Picture
		</div>
		<div class="margin-top-20">
			<input type="text" class="form-control" name="wine[picture]" value="{{wine.picture}}" />
		</div>
		<div class="bold margin-top-20">
			Description
		</div>
		<div class="margin-top-20">
			<textarea class="form-control" name="wine[description]">{{wine.description}}</textarea>
		</div>
		<div class="margin-top-20">
			<a href="/" class="btn btn-default">Cancel</a>
			<button type="submit" class="btn btn-success">Submit Edits</button>
		</div>
	</form>
	<form method="POST" action="/delete/{{wine.id}}?_method=delete" class="margin-top-20">
		<button type="submit" class="btn btn-danger">Delete Wine</button>
	</form>
</div>